@{
    ViewData["Title"] = "Shortcut";
}

<div class="text-center">
    <h1 class="display-4">Shortcut</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre Completo</th>
            <th>Puesto</th>
            <th>Sueldo Base</th>
            <th>Sueldo Total</th>
            <th>Horario</th>
            <th>Jefe Inmediato</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var empleado in Model)
        {
            <tr>
                <td>@empleado.ID</td>
                <td>@empleado.nombre_completo</td>
                <td>@empleado.puesto</td>
                <td>@empleado.sueldo_base</td>
                <td>@empleado.sueldo_total</td>
                <td>@empleado.horario</td>
                <td>@empleado.jefe_inmediato_ID</td>
            </tr>
        }
    </tbody>
</table>